# Server
PORT=7000
SERVER_URL=http://127.0.0.1:7000

# Metadata provider (ANILIST or ALL_ANIME)
METADATA_PROVIDER=ANILIST

# Stream providers (ALL_ANIME) (comma separated)
SOURCE_PROVIDERS=ALL_ANIME

# AniList OAuth Client ID
# Create at https://anilist.co/settings/developer
# Set the redirect URL to: {SERVER_URL}/configure
ANILIST_CLIENT_ID=
